language: node_js
node_js:
- node
- lts/*
before_script:
- REPO_VERSION="$(npx -c 'echo "$npm_package_version"')"
- echo "REPO_VERSION=$REPO_VERSION"
- npm run build
- TPLANT_VERSION="$(node dist/index.js -V)"
- echo "TPLANT_VERSION=$TPLANT_VERSION"
- NPM_PACKAGE_VERSION="$(npm view @jeff-tian/tplant version)" || NPM_PACKAGE_VERSION=0
- echo "NPM_PACKAGE_VERSION=$NPM_PACKAGE_VERSION"
- echo "TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
- echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
- |
  if [ "$REPO_VERSION" != "$TPLANT_VERSION" ]; then
    echo -e '\033[0;31mPackage version and commander version must be the same.';
    travis_terminate 1;
  fi
- |
  if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ "$TRAVIS_BRANCH" == "fork" ] && [ "$REPO_VERSION" == "$NPM_PACKAGE_VERSION" ]; then
    echo -e '\033[0;31mPackage version must be higher than the current one.';
    travis_terminate 1;
  fi
- npm run lint
jobs:
  include:
  - stage: Github Deployment
    node_js: lts/*
    install: skip
    before_script: skip
    script: skip
    before_deploy:
    - REPO_VERSION="$(npx -c 'echo "$npm_package_version"')"
    - echo "REPO_VERSION=$REPO_VERSION"
    - git tag -f "$REPO_VERSION"
    - echo "New Tag $(git describe --tags)";
    deploy:
      provider: releases
      api_key: "$GITHUB_TOKEN"
      on:
        branch: fork
  - stage: npm Deployment
    if: tag IS present
    node_js: lts/*
    before_script: skip
    script: skip
    deploy:
      provider: npm
      email: jeff.tian@outlook.com
      api_key:
        secure: OIzBziwi52g9WVgmALndOJxILH0ZvGfNyktPPlFEPuy5t9rKb3sUIt/cBYdS2zq/LRIu/e+XV1inPggutO7sX1Gn/fBa7tKun7G56w9VzO2n5lq4dttdA6ZIK2bcBHrKWKmR3B6xTUwixc9xm0GWM50iEoyn7MBy2KJUIDS5UL65165zu4/K6xAMLgZgbPoQuEqFzMGpVhdZzInEoq39pDuNdcwPp9/CzZpk8AbrjA9sGJYs26tlnf7PGZPuli77yiKiqeKyD2qgwTMP1iBg+HXbpm+0h9HJ+NUcx4d+vE/5GkfM+Mpmkmsi5aHXdX4bmhHdm3Z+HQUFxwEAi2oIOkNbVw9UwBuHgGrYDvSU1Ocpg06Fd8iCekoZj8N5y9uv+vpbIgZmE42MMyPsKp/KqpTVBTGO1fSgX7yrjo8pMgUdtClEa6pYwVdq7DKa7aSk5xLRue/RAIkIQTURLIUwLMMhr7d+Czc1X7/myhCZ+gXUB5y+RKRcu9cIukm+c9+nrjP70InZTXNKfyo+3zLoiXF9yVA4t5ak3VsmA8lqgXZRJVddn9rknFda1k+gsAyFiMZnZ9ct/WzKV17Q3mjD6jEnHQPHY4FNmXmr9cqqFifV+kZrGE13eE9BG/EBWVs03sRcTIyEuVyO7m+nOgC3e3jwgEBO5auMXSmyblTjNIs=
      skip_cleanup: true
      on:
        tags: true
        branch: fork
